*
{
    margin: 0%;
    padding: 0%;

}
header
{  
    background-image:linear-gradient(rgba(238, 238, 238, 0.5)
    ,rgba(83, 136, 114, 0.5)),url(image/bg-05.jpg);
    height:120vh;
    background-size: cover;
    background-position: center
    

}
.navbar
{
    background:hsla(0, 76%, 57%, 0.945);
    height: 80px;
}

nav{
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100px;
     padding: 10px 100px;
     box-sizing: border-box;
     transition: .3s;
}


nav.black
{ background: rgba(1, 1, 1, 1);
    height: 100px;
    padding: 10px 100px;

}



.logo
{
    margin: 20px 30px;
    height:150px;
    padding-top: 5px;
  


}
.menu
{
    float:right;
    list-style: none;
    margin:20px;
}
.menu li

{
    display:inline-block;
    margin: 10px 5px;

}
.menu li a{
    text-decoration: none;
    color: #000000;
    padding: 5px 10px;
    font-family: sans-serif;
    letter-spacing: 2px;
    border: 1px solid #b199658e;
    background: #9ec9dd17;
    border-radius: 5px;

}
.menu li a:hover
{
    background: #755f6a6c;
   transition: .4s;
   color: #000000;
 

}

.welcome
{
    position: relative;
    text-align: center;
    font-family: sans-serif;
    color: #9409093d
    top: 16 px;

}

.welcome h1 {
    color: #501111d0;
    font-size: 30px;
    margin: 25px;

}
.btn{
    font-size: 18px;
    letter-spacing: 2px;
    margin: 5px;
    padding: 7px 10px;
    text-decoration: none;
    border: 1px solid #682e2e56;
    border-radius: 6px;
}
.btn1{
    background: #ffffff;
    color:#000000;

}
.btn2{
    color: #000000;

}
.btn2:hover{
    background: #fffdfd;
    color: #110303d0;
    transition: 0.4s;
    
    
}
.title
{
    background-image: url()
}
/*  */
.social-group
{   align-content: center;
    padding: 100px 100px 50px 50%;
    border: 1px solid #b43131d3
}


.social-group li
{ display: inline-block;
    float: left;
    
}
.social-group li:hover
{

}
.social-group img
{  float: left;
    height: 30px;
    width: 30px;

}




   
     
    